beautifulsoup4==4.10.0
Bootstrap_Flask==2.3.3
Flask==3.0.3
Flask_CKEditor==0.5.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
python-dotenv==1.0.1
Requests==2.31.0
SQLAlchemy==2.0.25
Werkzeug==3.0.2
WTForms==3.1.2
gunicorn==20.1.0
